.home-page__greeting {
  margin: 30px 16px;
  @include tablet-breakpoint {
    margin: 30px 24px;
  }
  @include desktop-breakpoint {
    margin: 40px 180px;
    font-size: 18px;
  }
}
.home-page__container {
  display: flex;
  flex-direction: column;
  @include desktop-breakpoint {
    flex-direction: row;
    //align-items: baseline;
  }
}
.home-page__accordion-title {
  display: flex;
  margin: 0 16px;
  background-color: rgb(228, 217, 217);
  @include tablet-breakpoint {
    margin: 0 24px;
  }
  @include desktop-breakpoint {
    margin: 20px;
  }
}
.home-page__timer-section {
  display: flex;
  flex-direction: column;
  @include tablet-breakpoint {
    flex-direction: row;
  }
  @include desktop-breakpoint {
    flex-direction: row-reverse;
    margin: 40px 50px 19px 180px;
  }
}
.home-page__timer-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  justify-content: space-evenly;
  background-color: rgb(228, 217, 217);
  border-radius: 10px;
  @include tablet-breakpoint {
    margin: 0 24px 30px 24px;
    width: 100%;
  }
  @include desktop-breakpoint {
    margin: 0 20px 0 0; //180px;
    width: 100%;
    height: 400px;
  }
}

.timer-option__button {
  display: flex;
  text-transform: uppercase;
  width: 100%;
  margin: 8px 0;
  justify-content: center;
  padding: 5px;
  background-color: hsl(9, 57%, 61%);
  color: white;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 3px 5px 10px 0px rgba(102, 88, 102, 1);
  @include tablet-breakpoint {
    width: 120px;
    padding: 10px;
    margin-left: 55%;
  }
  @include desktop-breakpoint {
    margin-left: 20%;
  }
}

.timer-option__description {
  background-color: rgb(252, 238, 238);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(235, 213, 213, 0.2);
  padding: 8px;
}
#accordion__panel-0.accordion__panel,
#accordion__panel-1.accordion__panel,
#accordion__panel-2.accordion__panel,
#accordion__panel-3.accordion__panel {
  background-color: #fceeee;
  padding-bottom: 8px;
}
.home-page__text {
  margin: 30px 16px 16px 16px;
  @include tablet-breakpoint {
    margin: 30px 24px 24px 24px;
    width: 100%;
  }
  @include desktop-breakpoint {
    margin: 30px 24px 24px 0px;
    display: flex;
    align-items: center;
  }
}

.home-page__quotes-section {
  display: flex;
  flex-direction: column;
  margin: 0 16px 30px 16px;
  background-color: rgb(228, 217, 217);
  border-radius: 10px;
  @include tablet-breakpoint {
    margin: 0 24px 30px 24px;
    border-radius: 10px;
  }
  @include desktop-breakpoint {
    margin: 40px 180px 0 0;
    width: 100%;
  }
}

.home-page__quotes-container {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  @include tablet-breakpoint {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 24px;
  }
}

.home-page__quotes-title {
  margin: 5px;
}

.home-page__quote-img {
  display: flex;
  object-fit: contain;
  width: 100%;
  border-radius: 4px;
  box-shadow: 3px 5px 10px 0px rgba(102, 88, 102, 1);
  @include tablet-breakpoint {
    width: 270px;
    margin-bottom: 16px;
  }
}

.home-page__quote-author {
  @include tablet-breakpoint {
    width: 250px;
    @include desktop-breakpoint {
      margin-left: 20px;
    }
  }
}
.accordion {
  margin: 0;
  display: block;
  transition: 3s;
  flex-direction: column;
  padding: 0 16px;
  background-color: white;
  border-bottom: 1px solid gray;
  box-shadow: 3px 5px 10px 0px rgba(102, 88, 102, 1);
  @include desktop-breakpoint {
    height: 210px;
    margin-bottom: 60px;
  }
}

h2.home-page__accordion-sub {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}
