.session-timer__eyes-break {
  &--hidden {
    display: none;
  }
}
.timers-page__container {
  @include desktop-breakpoint {
    display: flex;
    flex-direction: row-reverse;
    margin: 40px 180px;
  }
}
.timers-display__wrapper {
  background-color: white;
  border-radius: 10px;
  padding: 0 8px;
  margin: 16px;
  border: 1px solid lightgray;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  @include desktop-breakpoint {
    width: 40%;
  }
}
.timers-display__count {
  border-bottom: 1px solid lightgray;
  padding-left: 0;
}

.timers-buttons__wrapper {
  padding: 16px 0;
  @include tablet-breakpoint {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
}
.timer__button-start {
  display: flex;
  text-transform: uppercase;
  width: 100%;
  margin: 8px 0;
  justify-content: center;
  padding: 5px;
  background-color: hsl(9, 57%, 61%);
  color: white;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 3px 5px 10px 0px rgba(102, 88, 102, 1);
  @include tablet-breakpoint {
    width: 120px;
    padding: 10px;
  }
}
.timer__button-pause {
  display: none;
  text-transform: uppercase;
  width: 100%;
  margin: 8px 0;
  justify-content: center;
  padding: 5px;
  background-color: hsl(9, 57%, 61%);
  color: white;
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 3px 5px 10px 0px rgba(102, 88, 102, 1);
  @include tablet-breakpoint {
    width: 120px;
    padding: 10px;
  }
}

#switching-buttons.buttons__switch--active {
  button.timer__button-pause {
    display: flex;
  }
  button.timer__button-start {
    display: none;
  }
}

.timer__button-finish {
  display: flex;
  text-transform: uppercase;
  width: 100%;
  margin: 8px 0;
  justify-content: center;
  padding: 5px;
  background-color: white;
  color: hsl(9, 57%, 61%);
  border-color: transparent;
  border-radius: 4px;
  box-shadow: 3px 5px 10px 0px rgba(102, 88, 102, 1);
  @include tablet-breakpoint {
    width: 120px;
    padding: 10px;
    margin: 0 16px;
  }
}
p.timers-page__session {
  color: red;
}

.custom-timer__input {
  border-radius: 4px;
  margin: 4px 0 4px 4px;
  padding: 4px 4px;
  border: 1px solid #c9a6a6;
  max-width: 80%;
  border-radius: 4px;
}
.custom-timer__wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: flex-start;
  @include tablet-breakpoint {
    flex-direction: column;
    width: 300px;
  }
}

.custom-timer__button__wrapper {
  width: 300px;
  display: flex;
  justify-content: flex-start;
  @include tablet-breakpoint {
    margin: 4px 0 0 8px;
  }
}
.custom-timer__set-button {
  display: block;
  margin-right: 2px;
  padding: 7px;
  background-color: #4d1e1e;
  color: rgba(231, 127, 101, 0.904);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 3px 7px 0px #665866;
}

.custom-timer__hidden {
  display: none;
}
