.home-page__greeting {
  margin: 30px 16px;
}

.home-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-page__accordion-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 16px;
  background-color: lightgray;
}

.home-page__timer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 16px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: lightgray;
}

.timer-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 8px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  background-color: #87a4f9;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 3px 5px 10px 0px #665866;
          box-shadow: 3px 5px 10px 0px #665866;
}

.timer-option__description {
  background-color: #f1f1f1;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.home-page__quotes-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 16px;
  background-color: lightgray;
}

.home-page__quotes-container {
  margin: 0 16px;
}

.home-page__quotes-title {
  margin: 5px;
}

.home-page__quote-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 3px 5px 10px 0px #665866;
          box-shadow: 3px 5px 10px 0px #665866;
}

.accordion {
  margin: 0;
  display: block;
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 16px;
  background-color: white;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: 3px 5px 10px 0px #665866;
          box-shadow: 3px 5px 10px 0px #665866;
}

.home-page__accordion-sub {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.header-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3d3932;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-icon {
  height: 50px;
  margin-right: 16px;
}

.header-title {
  color: rgba(231, 127, 101, 0.904);
}

a {
  text-decoration: none !important;
  color: #323232;
}

/*
  BASE
*/
html,
body {
  margin: 0;
  font-family: "Courier New";
  color: #3d3932;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  text-decoration: none;
  list-style: none;
}

@media screen and (min-width: 320px) {
  .main-title {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .subheader {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .paragraph {
    font-size: 0.8125rem;
    line-height: 1.125rem;
  }
}
/*# sourceMappingURL=main.css.map */