a {
  text-decoration: none !important;
  color: #323232;
}

/*
    BASE
  */
html,
body {
  margin: 0;
  font-family: "Courier New";
  color: 333230;
  word-break: break-word;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
}

ul {
  padding: 0;
  list-style: none;
}

li {
  text-decoration: none;
  list-style: none;
}

.main-title {
  font-size: 1.5rem;
  line-height: 2rem;
}

.subheader {
  font-size: 1rem;
  line-height: 1.375rem;
}

.paragraph {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 1.625rem;
    line-height: 2rem;
  }
  .subheader {
    font-size: 1.125rem;
    line-height: 1.375rem;
  }
  .paragraph {
    font-size: 1.0625rem;
    line-height: 1.125rem;
  }
}

.home-page__greeting {
  margin: 30px 16px;
}

@media screen and (min-width: 768px) {
  .home-page__greeting {
    margin: 30px 24px;
  }
}

@media screen and (min-width: 1440px) {
  .home-page__greeting {
    margin: 40px 180px;
    font-size: 18px;
  }
}

.home-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1440px) {
  .home-page__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.home-page__accordion-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 16px;
  background-color: #e4d9d9;
}

@media screen and (min-width: 768px) {
  .home-page__accordion-title {
    margin: 0 24px;
  }
}

@media screen and (min-width: 1440px) {
  .home-page__accordion-title {
    margin: 20px;
  }
}

.home-page__timer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .home-page__timer-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {
  .home-page__timer-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 40px 50px 19px 180px;
  }
}

.home-page__timer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 16px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #e4d9d9;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .home-page__timer-wrapper {
    margin: 0 24px 30px 24px;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .home-page__timer-wrapper {
    margin: 0 20px 0 0;
    width: 100%;
    height: 400px;
  }
}

.timer-option__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  width: 100%;
  margin: 8px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  background-color: #d47463;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 3px 5px 10px 0px #665866;
          box-shadow: 3px 5px 10px 0px #665866;
}

@media screen and (min-width: 768px) {
  .timer-option__button {
    width: 120px;
    padding: 10px;
    margin-left: 55%;
  }
}

@media screen and (min-width: 1440px) {
  .timer-option__button {
    margin-left: 20%;
  }
}

.timer-option__description {
  background-color: #fceeee;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(235, 213, 213, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(235, 213, 213, 0.2);
  padding: 8px;
}

#accordion__panel-0.accordion__panel,
#accordion__panel-1.accordion__panel,
#accordion__panel-2.accordion__panel,
#accordion__panel-3.accordion__panel {
  background-color: #fceeee;
  padding-bottom: 8px;
}

.home-page__text {
  margin: 30px 16px 16px 16px;
}

@media screen and (min-width: 768px) {
  .home-page__text {
    margin: 30px 24px 24px 24px;
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .home-page__text {
    margin: 30px 24px 24px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.home-page__quotes-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 16px 30px 16px;
  background-color: #e4d9d9;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .home-page__quotes-section {
    margin: 0 24px 30px 24px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .home-page__quotes-section {
    margin: 40px 180px 0 0;
    width: 100%;
  }
}

.home-page__quotes-container {
  margin: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .home-page__quotes-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 24px;
  }
}

.home-page__quotes-title {
  margin: 5px;
}

.home-page__quote-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  border-radius: 4px;
  -webkit-box-shadow: 3px 5px 10px 0px #665866;
          box-shadow: 3px 5px 10px 0px #665866;
}

@media screen and (min-width: 768px) {
  .home-page__quote-img {
    width: 270px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .home-page__quote-author {
    width: 250px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1440px) {
  .home-page__quote-author {
    margin-left: 20px;
  }
}

.accordion {
  margin: 0;
  display: block;
  -webkit-transition: 3s;
  transition: 3s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 16px;
  background-color: white;
  border-bottom: 1px solid gray;
  -webkit-box-shadow: 3px 5px 10px 0px #665866;
          box-shadow: 3px 5px 10px 0px #665866;
}

@media screen and (min-width: 1440px) {
  .accordion {
    height: 210px;
    margin-bottom: 60px;
  }
}

h2.home-page__accordion-sub {
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

.header-item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #4d1e1e;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.header-item__icon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 50px;
  width: 100%;
}

.header-icon {
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  display: flex;
  margin: 8px 8px;
}

.header-title {
  color: #d47463;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.header-timers__wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-timers__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 310px;
    -ms-flex-direction: row;
        flex-direction: row;
  }
}

.header-timers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-timer {
  color: white;
  font-size: 13px;
  margin: 0;
  padding-right: 8px;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.header-item__mobile-container {
  display: block;
  cursor: pointer;
  margin-right: 16px;
  width: 100px;
}

@media screen and (min-width: 768px) {
  .header-item__mobile-container {
    display: none;
  }
}

.header-item__mobile-container .bar1,
.header-item__mobile-container .bar2,
.header-item__mobile-container .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0 6px auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-item__mobile-container .header-timers__mobile-list {
  display: block;
  position: absolute;
  background-color: white;
  margin: 0 16px 0 0;
  border-radius: 4px;
  -webkit-box-shadow: 3px 5px 10px 0px #665866;
          box-shadow: 3px 5px 10px 0px #665866;
  height: 20;
}

.header-item__mobile-container .header-timers__mobile-list .header-timer-mobile {
  color: black;
  padding: 2 1px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.hide {
  display: none;
}

.change .hide {
  display: block;
}

.tasks-list__container {
  background-color: white;
  margin: 30px 16px;
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 8px;
  max-width: 100%;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1440px) {
  .tasks-list__container {
    width: 80%;
  }
}

.tasks-list__header {
  margin: 0;
}

.tasks-list__input {
  padding: 8px 8px;
  border: 1px solid #c9a6a6;
  max-width: 80%;
  border-radius: 4px;
  margin-right: 8px;
}

.tasks-list__button {
  padding: 7px;
  background-color: #4d1e1e;
  color: rgba(231, 127, 101, 0.904);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-shadow: 0px 3px 7px 0px #665866;
          box-shadow: 0px 3px 7px 0px #665866;
}

input.tasks-list__checkbox {
  background-color: #d47463;
}

.tasks-List {
  background-color: white;
}

.session-timer__eyes-break--hidden {
  display: none;
}

@media screen and (min-width: 1440px) {
  .timers-page__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 40px 180px;
  }
}

.timers-display__wrapper {
  background-color: white;
  border-radius: 10px;
  padding: 0 8px;
  margin: 16px;
  border: 1px solid lightgray;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 1440px) {
  .timers-display__wrapper {
    width: 40%;
  }
}

.timers-display__count {
  border-bottom: 1px solid lightgray;
  padding-left: 0;
}

.timers-buttons__wrapper {
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .timers-buttons__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.timer__button-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  width: 100%;
  margin: 8px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  background-color: #d47463;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 3px 5px 10px 0px #665866;
          box-shadow: 3px 5px 10px 0px #665866;
}

@media screen and (min-width: 768px) {
  .timer__button-start {
    width: 120px;
    padding: 10px;
  }
}

.timer__button-pause {
  display: none;
  text-transform: uppercase;
  width: 100%;
  margin: 8px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  background-color: #d47463;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 3px 5px 10px 0px #665866;
          box-shadow: 3px 5px 10px 0px #665866;
}

@media screen and (min-width: 768px) {
  .timer__button-pause {
    width: 120px;
    padding: 10px;
  }
}

#switching-buttons.buttons__switch--active button.timer__button-pause {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#switching-buttons.buttons__switch--active button.timer__button-start {
  display: none;
}

.timer__button-finish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  width: 100%;
  margin: 8px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  background-color: white;
  color: #d47463;
  border-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 3px 5px 10px 0px #665866;
          box-shadow: 3px 5px 10px 0px #665866;
}

@media screen and (min-width: 768px) {
  .timer__button-finish {
    width: 120px;
    padding: 10px;
    margin: 0 16px;
  }
}

p.timers-page__session {
  color: red;
}

.custom-timer__input {
  border-radius: 4px;
  margin: 4px 0 4px 4px;
  padding: 4px 4px;
  border: 1px solid #c9a6a6;
  max-width: 80%;
  border-radius: 4px;
}

.custom-timer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .custom-timer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
  }
}

.custom-timer__button__wrapper {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .custom-timer__button__wrapper {
    margin: 4px 0 0 8px;
  }
}

.custom-timer__set-button {
  display: block;
  margin-right: 2px;
  padding: 7px;
  background-color: #4d1e1e;
  color: rgba(231, 127, 101, 0.904);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-shadow: 0px 3px 7px 0px #665866;
          box-shadow: 0px 3px 7px 0px #665866;
}

.custom-timer__hidden {
  display: none;
}

.endrecord-page__container {
  margin: 40px 16px;
}

@media screen and (min-width: 768px) {
  .endrecord-page__container {
    margin: 40px 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1440px) {
  .endrecord-page__container {
    margin: 40px 180px;
  }
}

.endrecord-page__wrapper {
  background-color: #e4d9d9;
  padding: 8px 8px;
  border: 1px solid lightgray;
  border-radius: 10px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .endrecord-page__button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.endrecord-page__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  width: 100%;
  margin: 8px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
  background-color: #d47463;
  color: white;
  border-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 3px 5px 10px 0px #665866;
          box-shadow: 3px 5px 10px 0px #665866;
}

@media screen and (min-width: 768px) {
  .endrecord-page__button {
    width: 120px;
    padding: 10px;
    margin: 8px 8px;
  }
}
/*# sourceMappingURL=main.css.map */